.icerik{
    position: relative;
    top: 150px;
}
.solicerik{
    justify-content: center;
    text-align: center;
}
.sagicerik{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ortaicerik{
    display: flex;
    justify-content: center;
    text-align: center;
}
.inputlar{
    display: flex;
    justify-content: center;
    text-align: center;
}